@import "tailwindcss";

:root {
  --white: #eeeeee;
  --dark-black: #222831;
  --black: #393e46;
  --gray: #d9dadd;
  --red: #fc0000;

  --archivo-black: "Archivo Black", sans-serif;
  --roboto: "Roboto", sans-serif;
}

@theme {
  --color-white: var(--white);
  --color-dark-black: var(--dark-black);
  --color-black: var(--black);
  --color-gray: var(--gray);
  --color-red: var(--red);

  --font-archivo-black: var(--archivo-black);
  --font-roboto: var(--roboto);
}

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  background-color: var(--white);
  font-family: var(--roboto);
  color: var(--black);
}
